# ===== Required ENVS ======
PORT=3002
INTERNAL_PORT=3002

# This key lets you access the queue admin panel. Change this!
BULL_AUTH_KEY=CHANGEME

# ===== Database Configuration ======
POSTGRES_USER=firecrawl
POSTGRES_PASSWORD=firecrawl_password
POSTGRES_DB=firecrawl

# ===== Optional ENVS ======
# OPENAI_API_KEY=
# PROXY_SERVER=
# SEARXNG_ENDPOINT=
